:host{
    .detail-for-carousel{
        margin: 0 45px 0 45px;
        .devider {
            background-color: white;
            margin: 10px 0 15px 0;
        }
        .title {
            font-size: medium;
            color: white;
        }

    }
    .carousel {
        background-color: inherit;
        margin: 0 20px 0 20px;
    }
}

::ng-deep {
    .slick-prev {
        z-index: 222;
        left: -20px !important;
    }
    .slick-prev::before {
        font-size: 35px !important;
    }
    .slick-next {
        z-index: 222;
        right: 15px !important;
        font-size: 35px !important;
    }
    .slick-next::before {
        font-size: 35px !important;
    }
}