<div class="app">
  <br>
  <div class="header">


    <h1>{{this.item?.name}} &nbsp;<span>({{this.item?.releaseYear}})</span></h1>
    <div>
      <p class="material-icons">Current rating: {{this.item?.rating}}</p>
    </div>
  </div>
  <div class="content-left">
    <img src="{{this.item?.image}}">

    <button mat-raised-button
      (click)="addInHistory()">{{this.isAddedInHistory ? "Added in History" : "Add in History"}}</button>
    <button mat-raised-button
      (click)="addInWatchLater()">{{this.isAddedInWatchLater ? "Added in Watch Later" : "Add in Watch later"}}</button>

  </div>
  <div class="content-right">
    <h3>Your rating:</h3>
    <bar-rating [(rate)]="cssRate" [max]="10" (rateChange)="updateRating($event)"></bar-rating>
    <br><br>
    <h1>About</h1>
    <h2><i>~ Description:</i></h2>
    <p>{{this.item?.description}}</p>
    <h2><i>~ Genres:</i></h2>
    <p>{{this.item?.genres}}</p>
    <h2><i>~ Duration:</i></h2>
    <p>{{this.item?.duration}} minutes</p>
    <h2><i>~ Director:</i></h2>
    <p>{{this.item?.director}} </p>


  </div>
</div>