<div class="app">
    <br>
    <div class="header">
        <h1>Title my &nbsp;<span>(year)</span></h1>
        <div>
            <p class="material-icons">Current rating</p>
        </div>
    </div>
    <div class="content-left">
        <img
            src="https://m.media-amazon.com/images/M/MV5BMzgwODk3ODA1NF5BMl5BanBnXkFtZTcwNjU3NjQ0Nw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">

        <button mat-raised-button>adaugare in istoric</button>
        <button mat-raised-button>adaugare in "to watch"</button>

    </div>
    <div class="content-right">
        <h2>DESCRIERE</h2>
        <h3>Aici este o descriere</h3>
    </div>


</div>