:host {

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .add-movie-card {
            max-width: 400px;
            text-align: center;
            grid-area: movieCard;
        }

        .action-to-user {
            max-width: 400px;
            text-align: center;
            display: grid;
            grid-area: actionUserCard;;
        }

        .add-serial-card {
            max-width: 400px;
            text-align: center;
            grid-area: serialCard;
        }

        .add-season-card {
            max-width: 400px;
            text-align: center;
            grid-area: seasonCard;
        }

        .add-new-episode {
            max-width: 400px;
            text-align: center;
        }

        mat-form-field {
            margin: 0 10px;
        }

        mat-card {
            margin: 15px;
        }
    
        .add-movie-button {
            width: 150px;
            color: white;
            background-color: dodgerblue;
        }
    }
}