.profile {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.user-details {
  text-align: left;
}

.container {
  width: 70%;
  text-align: center;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.movies {
  height: 370px;
  overflow: hidden;
}

.series {
  height: 410px;
  overflow: hidden;
}

.grid-list div {
  display: flex;
  justify-content: center;
}

.show-btn {
  margin: 3em 0;
  height: 3em;
  width: 10em;
  font-size: .9rem;
  font-weight: bold;
  color: #ffffff;
  background: #000000;
  border: 1px solid aqua;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 2px whitesmoke, 0 0 25px blue, 0 0 5px darkblue;
}

.friends {
  height: 430px;
  overflow: hidden;
}

.friend-btn {
  height: 4em;
  width: 13em;
}


.show {
  overflow: visible;
  height: auto;
}

.friend-card {
  border: 1px solid aqua;
  border-radius: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:960px) {
  .container {
    width: 100%;
  }
}
