.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
}

.sort-container {
  display: block;
  margin: 2em;
}


::ng-deep.mat-select-value-text {
  color: #888888 !important;
}

::ng-deep.mat-select-arrow {
  color: #888888 !important;
}

::ng-deep.mat-form-field-subscript-wrapper {
  color: #888888 !important;
}

::ng-deep .mat-label {
  width: 2000px;
  background-color: red;
  font-size: 10px;
}

.grid-list {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.grid-list div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:960px) {
  .container {
    width: 100%;
  }
}
