:host {
    width: 300px;
    .hideClass {
        display: none;
    }
    .content {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
        .username {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}