:host {
  color: white;

  .card-for-film {
    width: 180px;
  }

  .img-card {
    width: 180px;
    height: 250px;
  }

  .img-class {
    width: 180px;
    height: 250px;
  }

  .title-card {
    text-align: center;
  }

  .serial-card {
    text-align: center;
    font-size: 0.8rem;
    color: #888888;
  }
}
