<div class="card-for-film">
  <div class="minimal-details">
    <div class="img-card">
      <img class="img-class" alt="item image" src="{{item.image}}">
    </div>
    <div class="title-card">
      <span>{{item.name}}</span>
    </div>
    <div *ngIf="item.noSeasons > 0" class="serial-card">
      <span>Seasons : {{item.noSeasons}} </span>
    </div>
    <div *ngIf="item.noEpisodes > 0" class="serial-card">
      <span>Episodes : {{item.noEpisodes}}</span>
    </div>
  </div>
  <div class="hover-details">
    <div>
      <h1>{{item.name}}</h1>
      <p>Genres : {{item.genres}}</p>
      <div *ngIf="item.noSeasons > 0" class="serial-details">
      </div>
      <p>Director : {{item.director}}</p>
      <p *ngIf="item.duration">Duration : {{item.duration}} min</p>
      <p>Release year : {{item.releaseYear}}</p>
    </div>
  </div>
</div>