<mat-toolbar class="menu">
  <mat-toolbar-row style="justify-content: space-around;">
    <img class="image-logo" src="../assets/bw3.png">

    <div class="menu-section">
      <a mat-button [routerLink]="['/home']"> Home </a>
      <a mat-button [routerLink]="['/calendar']"> Calendar </a>
      <a mat-button [routerLink]="['/tvshows']"> TV Shows </a>
      <a mat-button [routerLink]="['/create-contact']"> Movies </a>
    </div>
    <div class="left-part-of-navbar">
      <mat-form-field floatLabel="never">
        <input class="search-input" matInput maxlength="100">
        <mat-placeholder class="placeholder">Search</mat-placeholder>
      </mat-form-field>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person_pin</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="loginPush()">
          <span>Login</span>
        </button>
        <button mat-menu-item>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
