.image-logo {
  width: 100px;
}

.menu {
  background-color: blue;
  color: white;
  //#42350F;

  .menu-section a {
    font-size: 1.2rem;
    padding: .7em;
  }

  .menu-section a:hover {
    padding-bottom: .5em;
    border-bottom: 2px solid #ffffff;
  }

  .search-input {
    font-size: 1rem;
  }

  .placeholder {
    font-size: 1rem;
  }
}
