.image-logo {
  width: 100px;
  margin-top: 10px;
  height: 70px;
  margin-left: -5%;
}

.navbar {
  justify-content: space-around;
}

.left-part-of-navbar {
  display: flex;
  align-items: center;
}

.menu {
  background-color: #215885;
  color: white;
  border-radius:0 0 0 10px;
  z-index: 101; 
  position:fixed;

  .menu-section a {
    font-size: 1.2rem;
    padding: .7em;
  }

  .menu-section a:hover {
    padding-bottom: .5em;
    border-bottom: 2px solid #ffffff;
  }

  .search-input {
    font-size: 1rem;
  }

  .placeholder {
    font-size: 1rem;
  }
}

.menu-btn {
  display: none;
}



@media screen and (max-width:780px) {
  .menu-section {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .menu {
    .placeholder {
      font-size: .8rem;
    }

  }

  .navbar {
    justify-content: space-between;
  }
}
