:host {
  .list-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
}

::ng-deep .slides {
    height: 100% !important;
    width:15% !important;
    margin-left: 40%;
  }

 ::ng-deep .slideshow-container{
  
   background-color: rgb(10, 16, 22) !important;

 }